//Colors
$primary: #666;
$secondary: #ddd;
$call:  #1c87c9;
$card-bg: #ebebeb;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $primary;
}
.form-container{
    max-width: 340px; 
    min-height: 460px; 
    padding: 10px 30px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border-radius: 8px;
    background-color: $card-bg;

    h1{
        margin: 10px 0;
        text-align: center;
    }
    .account{
        input{
            margin: 10px 0;
        }
    }
    label{
        i{
            color: white;
            background-color: $call;
            padding: 16px 20px;
            font-size: 16px;
            border-radius: 5px 0 0 5px;
        }
    }
    #email, #password, #fullname{
        height: 48px;
        width: calc(100% - 55px);
        margin: 10px 0 10px -5px;
        padding-left: 10px;
        border-radius: 0 5px 5px 0;
        border: $primary 1px solid;
        border-left: none;
    }
    .gender{
        margin: 10px 0;
    }
    .button-container{
        margin: 10px 0;
        p{
            a{color: blue;}
            text-align: center;
            margin: 10px 0;
            button{
                width: 100%;
                padding: 15px 0;
                border: none;
                background-color: $call;
                color: white;
                font-size: 20px;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;

                &:hover, &:focus{
                    background-color: hsl(203, 76%, 65%);
                }
            }
        }
    }
    /* Customize the label (the container) */
.label-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .label-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .label-radio:hover input ~ .checkmark {
    background-color: #bbb;
  }
  
  /* When the radio button is checked, add a blue background */
  .label-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .label-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .label-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  
}
footer{
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    p{
        margin: 25px 0;
        span{
            color: red;
        }
        a{
            text-decoration: none;
            color: green;
        }
    }
}